<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
      <tr id="<%= dom_id(task) %>">
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= task.category_id %></td>
        <td> <%= task.status%> </td>
      </tr>
  </tbody>
</table>
